body {
    margin: 0;
    padding: 0;
}

#carousel {
    position: relative;
    height: 400px;
    margin-bottom: 150px;
}

#carousel img {
    box-shadow: -3px 13px 28px -10px #555555
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel div img {
    width: 400px;
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
    width: 200px;
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
    width: 300px;
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

#carousel div.prevLeftSecond img {
    width: 200px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
    width: 300px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

#carousel div.nextRightSecond img {
    width: 200px;
}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
    text-align: center;
}

.comment-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #e5e5e5;
    --cardBg: #f1f1f1;
    --fg: #171717;
    --linkFg: #2762f3;
    --transDur: 0.25s;
    font-size: calc(16px + (20 - 16)*(100vw - 320px)/(2560 - 320));
}
body {
    background: var(--bg);
    color: var(--fg);
    font: 1em/1.5 "Hind", sans-serif;
}
a {
    color: var(--linkFg);
}
/* Grid */
.image-grid {
    display: grid;
    grid-gap: 1.5em;
    margin: 1.5em 1.5em 13.5em 1.5em;
}
.image-grid__card {
    animation: flyIn var(--transDur) ease-in;
    background: var(--cardBg);
    border-radius: 0.25em;
    box-shadow: 0 0 0.375em #0003;
    width: 100%;
}

.image-grid__card:hover {
    transition: transform var(--transDur) ease-in-out;
    transform: scale(1.1);
}

.image-grid__card a {
    background: #0003;
    border-radius: 0.25em 0.25em 0 0;
    display: block;
    overflow: hidden;
    position: relative;
    height: 9.75em;
    will-change: transform;
}
.image-grid__card a:focus {
    outline: transparent;
}
.image-grid__card a:focus .image-grid__card-thumb,
.image-grid__card a:hover .image-grid__card-thumb {
    opacity: 0.5;
}
.image-grid__card-thumb {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transition: all var(--transDur) linear;
    transform: translate(-50%,-50%);
}

.image-grid__card-thumb--portrait {
    width: 100%;
    height: auto;
}
.image-grid__card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0.375em 0.75em;
}
.image-grid__status {
    animation: fadeIn var(--transDur) linear;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}
/* Preloader */
.pl, .pl:before, .pl:after {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.pl {
    margin: 0 auto 1.5em auto;
    position: relative;
    width: 3em;
    height: 3em;
}
.pl:before, .pl:after {
    background: currentColor;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform-origin: 50% 100%;
    clip-path: polygon(0 0,100% 0,50% 100%);
    -webkit-clip-path: polygon(0 0,100% 0,50% 100%);
}
.pl-fade:before {
    animation-name: fadeA;
}
.pl-fade:after {
    animation-name: fadeB;
}
/* Animations */
@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(3em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeA {
    from, to { opacity: 1; transform: rotate(0deg) }
    25%, 75.1% { opacity: 0; transform: rotate(0deg) }
    25.1%, 75% { opacity: 0; transform: rotate(180deg) }
    50% { opacity: 1; transform: rotate(180deg) }
}
@keyframes fadeB {
    from, 50% { opacity: 0; transform: rotate(90deg) }
    25% { opacity: 1; transform: rotate(90deg) }
    50.1%, to { opacity: 0; transform: rotate(270deg) }
    75% { opacity: 1; transform: rotate(270deg) }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #171717;
        --cardBg: #242424;
        --fg: #f1f1f1;
        --linkFg: #5785f6;
    }
}
@media (min-width: 512px) {
    .image-grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width: 1280px) {
    .image-grid {
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width: 1536px) {
    .image-grid {
        grid-template-columns: repeat(6,1fr);
    }
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}

form:valid a {
    display: block;
}
