<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/join.css}" type="text/css" />
</head>
<body>
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/join.js}"></script>
<div class="join-wrap">
    <div class="join-container">
        <div class="logo">
            <img src="pngegg.png" alt="">
        </div>

        <form action="/user/join" method="post" class="join-form">
            <label for="userEmail">이메일
            </label>
            <div class="check-input">
                <input type="text" id="userEmail" name="userEmail" required>
                <button type="button" id="email-check-button">중복 확인</button>
            </div>

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>

            <label for="password-check">비밀번호 확인</label>
            <input type="password" id="password-check" required>

            <label for="username">이름</label>
            <input type="text" id="username" name="username" required>

            <label for="nickname">닉네임</label>
            <div class="check-input">
                <input type="text" id="nickname" name="nickname" required>
                <button type="button" id="nickname-check-button">중복 확인</button>
            </div>

            <label for="telephone">연락처</label>
            <input type="tel" id="telephone" name="telephone" required>

            <input type="submit" value="회원가입">
        </form>

    </div>
</div>
</body>
</html>