<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css" />
</head>
<body>

<script th:if="${failMessage}" type="text/javascript">
    alert(" [[${failMessage}]] ");
</script>

<div class="login-wrap">
    <div class="login-container">

        <div class="logo">
            <img src="pngegg.png" alt="">
        </div>

        <form th:action="@{/user/login}" method="post" class="login-form">
            <label for="userEmail">이메일
            </label>
            <input type="text" id="userEmail" name="username">
            <label for="password">비밀번호
            </label>
            <input type="password" id="password" name="password">
            <input type="submit" value="로그인">
        </form>

        <div class="login-option">
            <label for="login-keep">
                <input type="checkbox" id="login-keep">
                로그인 유지
            </label>
            <a href="#">
                비밀번호 찾기
            </a>
        </div>

        <a th:href="@{/user/join}" id="join-a">
            <span>아직 회원이 아니신가요?</span>
            <span>회원가입하기</span>
        </a>
    </div>
</div>

</body>
</html>