<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<table border="1" id="posting">
    <tr>
        <td>
            <a th:text="${posting.title}"></a>
        </td>
    <tr>
    <tr>
        <td th:text=" ${posting.content}"></td>
    <tr>
    <tr th:each="image : ${posting.images}">
        <td>
            <img th:src="${image.images}" alt="Image">
        </td>
    </tr>
    <tr>
        <td th:text="${posting.liked}"></td>
    </tr>
</table>

<table border="1" id="comment">
    <tr>
        <td>댓글작성</td>
        <td>
            <input type="text" placeholder="댓글작성" id="content">
            <button id="contentButton">전송</button>
        </td>
    </tr>

    <tr th:each="comment : ${comments}" id="commentList" th:data-comment-id="${comment.commentId}">
        <td th:text="${comment.memberName}"></td>
        <td th:text="${comment.content}"></td>
        <td>
            <button class="update">수정</button>
        </td>
        <td>
            <button class="delete">삭제</button>
        </td>
    </tr>
</table>

<script type="text/javascript">
    const btn = document.querySelector('#contentButton');
    const updateBtn = document.querySelector('#update');
    const deleteBtn = document.querySelector('#delete');

    console.log("[[${nickname}]]");

    btn.addEventListener('click', () => {

        const content = document.querySelector('#content').value;
        const memberName = "[[${nickname}]]";
        const postingId = "[[${posting.id}]]";

        const commentDTO = {
            'content': content,
            'memberName': memberName,
            'postingId': postingId
        }

        $.ajax({
            type: 'post',
            url: '/posting/comment/write',
            dataType: 'json',
            data: commentDTO,
            success: function (newComment) {

                const table = document.querySelector('#comment');

                const comment = table.insertRow();

                const memberName = comment.insertCell(0);
                const content = comment.insertCell(1);

                memberName.innerText = newComment.memberName;
                content.innerText = newComment.content;

                // 인풋 필드 비우기
                document.querySelector('#content').value = '';
            },
            error: function (error) {
                console.log(error)
            }
        })

    })

    // "수정" 버튼을 모두 선택
    const updateButtons = document.querySelectorAll('.update');

    // 각 "수정" 버튼에 클릭 이벤트 리스너 추가
    updateButtons.forEach(button => {
        button.addEventListener('click', () => {
            const commentId = button.parentElement.parentElement.getAttribute('data-comment-id');
            const commentRow = button.parentElement.parentElement;
            const commentContentCell = commentRow.getElementsByTagName('td')[1];

            // 현재 댓글 내용 가져오기
            const currentCommentContent = commentContentCell.innerText;

            // 댓글 내용 대신 인풋 필드 추가
            const inputElement = document.createElement('input');
            inputElement.type = 'text';
            inputElement.value = currentCommentContent;

            // 기존 내용 대체
            commentContentCell.innerHTML = '';
            commentContentCell.appendChild(inputElement);

            // 수정 버튼을 저장 버튼으로 변경
            button.innerText = '저장';

            // 저장 버튼 클릭 시, 수정 내용을 서버로 전송 및 업데이트 로직 추가
            button.addEventListener('click', () => {
                const updatedContent = inputElement.value;
                const memberName = "[[${nickname}]]";
                const postingId = "[[${posting.id}]]";

                const commentDTO = {
                    'commentId': commentId,
                    'content': updatedContent,
                    'memberName': memberName,
                    'postingId': postingId
                }

                // 여기에서 서버로 업데이트 요청을 보내고, 성공하면 내용을 업데이트하세요.
                $.ajax({
                    type: 'post',
                    url: '/posting/comment/write',
                    dataType: 'json',
                    data: commentDTO,
                    success: function () {
                        console.log("댓글 수정 성공");
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
                // 수정 내용을 표시
                commentContentCell.innerText = updatedContent;

                // 버튼을 다시 "수정"으로 변경
                button.innerText = '수정';
            });
        });
    });

    // "삭제" 버튼을 모두 선택
    const deleteButtons = document.querySelectorAll('.delete');

    // 각 "삭제" 버튼에 클릭 이벤트 리스너 추가
    deleteButtons.forEach(button => {
        button.addEventListener('click', () => {
            const commentId = button.parentElement.parentElement.getAttribute('data-comment-id');
            const commentDTO = {
                'commentId': commentId,
            }

            $.ajax({
                type: 'post',
                url: '/posting/comment/delete',
                data: commentDTO,
                success: function (msg) {
                    console.log(msg);
                    // 삭제한 댓글을 화면에서 제거
                    const commentRow = button.parentElement.parentElement;
                    console.log(commentRow);
                    commentRow.remove();
                },
                error: function (error) {
                    console.log(error)

                }
            })

        });
    });

</script>
</body>
</html>