<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <tr th:if="${postings.isEmpty()}">
        <td colspan="5">조회되는 데이터가 없습니다.</td>
    </tr>

    <tr th:each="posting : ${postings}">
        <td>
            <a th:href="@{/posting/board/view/{id}(id = ${posting.id})}">
                <img th:if="${not #lists.isEmpty(posting.images)}" th:src="${posting.images[0].images}" alt="Image">
            </a>
        </td>
        <td th:text="${posting.title}">
        </td>
        <td th:text="${posting.liked}"></td>
    </tr>

</table>

<form method="get" action="/posting/board/write">
    <input type="submit" value="내 작품 전시">
</form>
</body>
</html>